<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= label :management, :company %><br />
    <%= text_field :management, :company %>
  </div>
  <div class="field">
    <%= label :management, :company_short %><br />
    <%= text_field :management, :company_short %>
  </div>

  <div class="field">
    <%= label :rule, :trial_period_start_on %><br />
    <%= date_field :rule, :trial_period_start_on %>
  </div>
  <div class="field">
    <%= label :rule, :trial_period_end_on %><br />
    <%= date_field :rule, :trial_period_end_on %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
